::-webkit-scrollbar {
  display: none;
}
#headerSection {
  height: 48px;
}
body {
  color: #444A59;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}
input, textarea, select, button, i, ::before, ::after { 
  font-family: inherit;
}
i {
  font-style: inherit;
  fill: #444A59;
}
strong, b {
  font-weight: 500;
}
.hide {
  display: none !important;
}
/*for Truebil checkbox icon*/